.u-section-1 .u-sheet-1 {
  min-height: 310px;
}

.u-section-1 .u-text-1 {
  margin: 54px 0 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 140px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 64px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 119px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  background-image: none;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 9px auto 40px 0;
}.u-section-4 .u-sheet-1 {
  min-height: 210px;
}

.u-section-4 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/Ben.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: -122px 65px 60px 174px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 210px;
}

.u-section-5 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/George.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  margin: -122px 65px 60px 174px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 210px;
}

.u-section-6 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/Marina.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  margin: -124px 65px 60px 174px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 209px;
}

.u-section-7 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/Joshuahead.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  margin: -110px 66px 60px 173px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 210px;
}

.u-section-8 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/John.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: -122px 65px 60px 174px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 210px;
}

.u-section-9 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/Brian.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-1 {
  margin: -122px 65px 60px 174px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 210px;
}

.u-section-10 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/Star.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-1 {
  margin: -122px 65px 60px 174px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 210px;
}

.u-section-11 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/Ioana.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-1 {
  margin: -122px 65px 60px 174px;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 210px;
}

.u-section-12 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/20221023_2527_SMusslick_Sq.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-1 {
  margin: -122px 68px 44px 172px;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-12 .u-text-1 {
    margin-bottom: 35px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 209px;
}

.u-section-13 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/Younes.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-1 {
  margin: -122px 66px 60px 173px;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 210px;
}

.u-section-14 .u-image-1 {
  width: 135px;
  height: 135px;
  background-image: url("images/Chadhead.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-14 .u-text-1 {
  margin: -122px 65px 60px 174px;
}

.u-section-14 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-14 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-14 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 156px;
}

.u-section-15 .u-text-1 {
  margin-bottom: 0;
}

.u-section-15 .u-text-2 {
  margin: 20px 636px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-2 {
    margin-right: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-text-2 {
    margin-right: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-text-2 {
    margin-right: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-text-2 {
    margin-right: 0;
  }
}